.header {
    text-align: left;
    color: white;
}

.dashboard {
    background-color: #153243;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    font-family: "Tilt Warp";
    background-color: #87a0b2;
}

.dashboard ul {
    display: flex;
    gap: 30px;
    color: white;
}

ul {
    list-style-type: none;
}