@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  /* colors */
  --primary-color: #284B63;
  --background: #153243;
  --main-white: #EEF0EB;

  --darkest-blue: #0b1d27;

  /* fonts */
  --font-sans: "Sora";

  /* design */
  --border-radius: 10px;
}

body {
  background-color: var(--bg-content);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}