body {
  background-color: #EEF0EB;
  font-family: "Sora";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.login {
  width: 25%;
  height: 100vh;
  background-color: #153243;
  margin: 0%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loginH1 {
  color: white;
  display: flex;
  margin: 0;
  text-align: center;
}


