.loginPage {
    display: flex;
    height: 100%;
    width: 100%;
}

.login {
    width: 30%;
    height: 100vh;
    background-color: #153243;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rightContent {
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    color: var(--primary-color);
    font-family: var(--font-sans);
    text-align: center;
}

.rightContent h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.rightContent p {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 15%;
    padding-right: 15%;
}

.loginH1 {
    color: var(--main-white);
    display: flex;
    margin: 0;
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
}

.bigLogin {
    font-size: 33px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 80px;
    color: var(--main-white);
}

.loginForm {
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.loginForm label {
    color: var(--main-white);
    margin-bottom: 5px;
}

.loginForm input {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
    background-color: transparent;
    border-bottom: 1px solid grey;
    color: var(--main-white);
}

.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryBtn,
.secondaryBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-sans);
    width: 320px;
    font-size: 16px;
    border-radius: var(--border-radius);
    font-weight: 700;
    box-shadow: 0 6px 12px var(--darkest-blue);
}

.primaryBtn {
    border: none;
    margin-top: 10px;
    background-color: var(--main-white);
    color: var(--background);
    cursor: pointer;
    text-align: center;
}

.secondaryBtn {
    border: none;
    background-color: var(--primary-color);
    color: var(--main-white);
    cursor: pointer;
    text-align: center;
}

.passwordInput {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.forgotPasswordContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.forgotPassword {
    margin-top: 0;
    color: var(--main-white);
    font-size: 13px;
}


.or {
    color: var(--main-white);
    font-size: 15px;
}