.login {
  width: 30%;
  height: 100vh;
  background-color: #153243;
  margin: 0%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loginH1 {
  color: #EEF0EB;
  display: flex;
  margin: 0;
  text-align: center;
  padding-top: 10%;
  font-size: 25px;
}

.bigLogin {
    font-size: 33px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 80px;
    color: #EEF0EB;
}

.loginForm {
    font-family: "Sora";
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.loginForm label {
    color: #EEF0EB;
    margin-bottom: 5px;
}

.loginForm input {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
    background-color: transparent;
    border-bottom: 1px solid grey;
    color: #EEF0EB;
}

.loginButton {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    background-color: #EEF0EB;
    color: #153243;
    cursor: pointer;
    font-family: "Sora";
    width: 65%;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.passwordInput {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.forgotPasswordContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 80%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.forgotPassword {
    margin-top: 0;
    color: #EEF0EB;
    font-size: 13px;
}

.SignUpButton {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 5px;
    background-color: #284B63;
    color: #EEF0EB;
    cursor: pointer;
    font-family: "Sora";
    width: 65%;
    border-radius: 10px;
    font-weight: bold;
}

.or {
    color: #EEF0EB;
    font-size: 15px;
}