.signUp-btn {
  background: var(--background);
  border: none;
  border-radius: 25px;
  height: 30px;
  color: var(--main-white);
  font-family: var(--font-sans);
  cursor: pointer;
}

.loginLink {
  color: var(--primary-color);
}

.signUp-btn,
.loginLink {
  font-size: 15px;
  padding: 0 2rem;
  font-weight: 600;
}

.dash {
  justify-content: space-between;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.dash li {
  list-style-type: none;
  cursor: pointer;
}

.Home {
  color: var(--primary-color);
  font-weight: 800;
}

.navButtons {
  align-items: center;
  padding: 12px;
}

.navButtons ul {
  display: flex;
  gap: 50px;
}

.authButtons {
  display: flex;
  align-items: center;
}