.dash {
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
}

.dash li {
  list-style-type: none;
  cursor: pointer;
}

.Home {
  color: #284B63;
  margin-left: 50px;
}

.navButtons {
  align-items: center;
  padding: 12px;
}

.navButtons ul {
  display: flex;
  gap: 50px;
}

.authLinks {
  gap: 10px;
  margin-top: 24px;
  margin-right: 50px;
}

.loginbtn {
  border: none;
  padding: 10px;
  font-family: "Sora";
  font-weight: 450;
  font-size: 15px;
  color: #284B63;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginbtn:hover {
  background-color: #d6d8d3;
  border-radius: 20px;
  padding: 7px 10px;
}

.signUpbtn {
  border: none;
  border-radius: 20px;
  background-color: #153243;
  padding: 7px 25px;
  margin-left: 20px;
  font-family: "Sora";
  font-weight: 450;
  font-size: 15px;
  color: #EEF0EB;
  transition: all 0.3s ease;
}

.signUpbtn:hover {
  background-color: #1c4359;
}