.signUpPage {
    display: flex;
    height: 100%;
    width: 100%;
}

.signUp {
    width: 30%;
    height: 100vh;
    background-color: var(--background);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0;
}

.bigSignUp {
    font-size: 33px;
    font-weight: 700;
    margin-top: 3rem;
    padding-top: 0;
    margin-bottom: 60px;
    color: var(--main-white);
}

.signupdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.SignUpForm label {
    color: var(--main-white);
    margin-bottom: 5px;
}

.SignUpForm input {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
    background-color: transparent;
    border-bottom: 1px solid grey;
    color: var(--main-white);
}

.Signupbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    background-color: var(--main-white);
    color: #153243;
    cursor: pointer;
    font-family: "Sora";
    width: 310px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.passwordInput {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.forgotPassword {
    margin-top: 0;
    color: #EEF0EB;
    font-size: 13px;
}

.or {
    color: var(--main-white);
    font-size: 15px;
}

.signUp-icon-btn {
    display: flex;
    gap: 4rem;
    color: var(--main-white);
}

.signUp-icon-btn svg {
    background-color: var(--primary-color);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 6px 12px var(--darkest-blue);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.signUp-icon-btn svg:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    box-shadow: 0 6px 12px var(--darkest-blue);
}