body {
  background-color: #EEF0EB;
  font-family: "Sora";
}

h1 {
  color: #284B63;
  text-align: center;
}

.home {
  color: #284B63;
  text-align: center;
}

.homeNoAccount {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: center;    /* center horizontally */
  justify-content: center; /* center vertically */
  min-height: 100vh;      /* take full screen height */
}


.btn {
  background: #153243;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  width: 200px;
  margin: 10px 50px;
  color: white;
  font-weight: bold;
  font-family: "Sora";
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.2s ease;
}

